body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    background-color: #001545;
    background-image: url(../assets/background-IA.png);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

canvas{
    position: absolute;
    top: 0.5px;
}


.neon-button {
    margin-top: 45px;
    background: transparent;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    border: 5px solid #FFAE4F;
    border-radius: 8px;
    height: 68px;
    width: 170px;
    font-family: 'Poppins',sans-serif;
    color: #FFAE4F;
    box-shadow:0 0 2em 0  #FFAE4F;
    text-shadow: 0 0 0.125em hsl( 0 0% 100% / 0.3), 0 0 0.45em  #FFAE4F; 
    font-weight: 800;
}

.neon-button::after {
    content:"";
    position: absolute;
    height: 68px;
    width: 167px;
    top: 85.5em;
    bottom: 0;
    left: 43.5em;
    right: 16.5em;
    background-color: #FFAE4F;
    box-shadow: 0 0 2em 0.5em #FFAE4F;
    opacity: 0;
    border-radius: 5px;
    z-index: -1;
    transition: opacity 200ms linear;
}


.neon-button:hover {
    background-color: #FFAE4F;
    color: #001545;
    text-shadow: none;
    transition: 500ms;
}

.neon-button:hover::after {
    opacity: 1;
}
